

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

i.glyphicon-phone-alt {
    font-size: 2.2em;
}

div.col-md-4.animated.fadeInDown {
}

div.col-md-4.animated.fadeInDown.2 {
}

div.col-md-4.animated.fadeInDown.3 {
}